body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* same as menu height + padding */
  padding-top: 42px;
  margin: 0;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-areas: 'header header' 'rules rules' 'src result';
  grid-auto-columns: 50%;
  grid-gap: 20px 0;
}

.panel {
  border-radius: 1rem;
  border: 1px solid #333;
  margin: 0 10px;
  overflow: hidden;
}

.panel-header {
  background-color: lightgray;
  padding: 10px 20px;
}

.panel-body {
  padding: 20px;
}

#code {
  height: 90vh;
}

#codearea {
  border: 1px solid black;
  background: #eaeaea;
}

.CodeMirror {
  height: calc(90vh - 100px - 10px);
  /* height of sourcecode area - height of testcases - some padding */
}

.view {
  padding: 8px;
}

.actions {
  vertical-align: top;
  margin-top: 10px;
  padding-left: 10px;
  display: inline-block;
  width: calc(50% - 15px);
  /* subtract the padding of both areas, plus an extra 5px...... */
  height: 100px;
  /* same height as testcases */
  overflow: auto;
}

#testcases {
  margin-top: 10px;
  height: 100px;
  width: 50%;
  overflow: auto;
  display: inline-block;
}

#testcases .success {
  background: lightgreen;
}

#testcases .error {
  background: lightpink;
}

#testcases .warn::after {
  content: "!";
  padding: 5px 10px;
  background: yellow;
  margin: 10px;
  border-radius: 1em;
  color: black;
}

#instructions {
  font-size: 14px;
}

#instructions .out {
  background: darkblue;
  color: white;
}

#instructions .var {
  background: orange;
}

#instructions .num {
  color: blue;
}

#instructions span {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  padding: 1px 3px;
}

#instructions .console {
  background: #333;
  color: white;
  display: block;
  padding: 5px;
  margin: 10px;
}

#instructions .inputs {
  width: 48%;
  float: left;
}

#instructions .outputs {
  width: 48%;
  float: right;
}

.btn {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid #333;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  background: lightblue;
}

.resultbody {
  height: 90vh;
  display: flex;
  flex-flow: column;
}

#result {
  background: #333;
  padding: 10px;
  font-family: Courier New;
  height: 280px;
  /* minus the 2x10px padding!*/
  overflow: auto;
}

.success {
  color: green !important;
}

.error {
  color: red !important;
}

.stack {
  padding-left: 20px;
}

.log::before {
  content: "> ";
}

.log {
  color: #eaeaea;
}

.menu {
  position: fixed;
  background: #333;
  color: white;
  /* one more than button padding ...*/
  padding: 11px;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  z-index: 10;
}

#gameChoice {
  background: #eaeaea;
  padding: 20px;
  /* height of view - height of menu - padding */
  min-height: calc(100vh - 42px - 40px);
}

.game {
  padding: 20px;
  background: white;
  box-shadow: 1px 1px 5px black;
}

.game .title {
  display: block;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.game .title:hover {
  text-decoration: underline;
}

.game .synopsis {
  font-size: 0.9rem;
  padding: 10px;
  background: #eaeaea;
  margin: 10px;
}

img {
  vertical-align: middle;
}