body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* same as menu height + padding */
  padding-top: 42px;
  margin: 0;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-areas: 'header header' 'rules rules' 'src result';
  grid-auto-columns: 50%;
  grid-gap: 20px 0;
}

.panel {
  border-radius: 1rem;
  border: 1px solid #333;
  margin: 0 10px;
  overflow: hidden;
}

.panel-header {
  background-color: lightgray;
  padding: 10px 20px;
}

.panel-body {
  padding: 20px;
}

.btn.loading {
  /* loading button: stop the button from reacting, show some CSS animation... */
  pointer-events: none;
  color: #ddd;
  border-color: #ddd;
  position: relative;
}

/* CSS animation */

@keyframes loadinganimation {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.btn.loading::after {
  /* the animated content... */
  content: '❍' !important;
  position: absolute;
  right: calc(50% - 10px) !important;
  color: black;
  font-weight: bold;
  animation-name: loadinganimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-family: Courier;
  font-size: 24px;
  top: 5px;
}

#code {
  /* height: view - menu - padding */
  height: calc(100vh - 42px - 40px);
}

#codearea {
  border: 1px solid black;
  background: #eaeaea;
  font-size: 13px;
  /* height of sourcecode area - height of testcases - some padding */
  height: calc(100% - 100px);
}

.CodeMirror {
  height: 100%;
  
}

.view {
  padding: 8px;
}

.actions {
  vertical-align: top;
  margin-top: 10px;
  padding-left: 10px;
  display: inline-block;
  width: calc(50% - 15px);
  /* subtract the padding of both areas, plus an extra 5px...... */
  height: 100px;
  /* same height as testcases */
  overflow: auto;
}

.playall, .release {
  display: inline-block;
}

#testcases {
  margin-top: 10px;
  height: 100px;
  width: 50%;
  overflow: auto;
  display: inline-block;
}

#testcases .testcase::before,
.playall::before,
.release::before {
  content: '▶';
  padding-right: 5px;
}

#testcases .success {
  background: lightgreen;
}

#testcases .error {
  background: lightpink;
}

#testcases .warn::after {
  content: "!";
  padding: 5px 10px;
  background: yellow;
  margin: 10px;
  border-radius: 1em;
  color: black;
}

#instructions {
  font-size: 14px;
}

span.out {
  background: darkblue;
  color: white;
}

span.var {
  background: orange;
}

span.num {
  color: blue;
}

span {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3px;
  padding: 1px 3px;
}

span.console {
  background: #333;
  color: white;
  display: block;
  padding: 5px;
  margin: 10px;
}

#instructions .inputs {
  width: 48%;
  float: left;
}

#instructions .outputs {
  width: 48%;
  float: right;
}

.btn {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid #333;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  background: lightblue;
}

.resultbody {
  /* height: view - menu - padding */
  height: calc(100vh - 42px - 40px);
  display: flex;
  flex-flow: column;
}

#result {
  background: #333;
  padding: 10px;
  font-family: Courier New;
  height: 280px;
  /* minus the 2x10px padding!*/
  overflow: auto;
}

.success {
  color: green !important;
}

.error {
  color: red !important;
}

.debug {
  color: orange !important;
}

.stack {
  padding-left: 20px;
}

.log::before {
  content: "> ";
}

.log {
  color: #eaeaea;
}

.menu {
  position: fixed;
  background: #333;
  color: white;
  /* one more than button padding ...*/
  padding: 11px;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  z-index: 10;
}

#game {
  position: relative;
}

#gameChoice {
  background: #eaeaea;
  padding: 20px;
  /* height of view - height of menu - padding */
  min-height: calc(100vh - 42px - 40px);
}

#gameChoice .games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game {
  padding: 20px;
  background: white;
  box-shadow: 1px 1px 5px black;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.game .solved {
  font-size: 2em;
  position: absolute;
  font-weight: bold;
  right: 0;
  transform: rotate(45deg);
  color: green;
}

.game .title {
  display: block;
  font-weight: bold;
  color: black;
  padding-bottom: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}

.game:hover .title,
.game .title:hover {
  text-decoration: underline;
}

.game:hover {
  background-color: #ffffee;
}

.game .synopsis {
  font-size: 0.9rem;
  padding: 10px;
  background: #eaeaea;
  margin: 10px;
}

img {
  vertical-align: middle;
}

/*
* Popup
*/

.popup {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* must be above menu */
  z-index: 20;
}

.popup .panel {
  min-width: 300px;
  max-width: 800px;
  width: 30%;
  margin: 100px auto auto auto;
  background: white;
}

.popup .title {
  display: inline-block;
  padding: 10px 0 10px 0;
}

.popup .close {
  float: right;
  margin: 0;
}

.draggable {
  margin: 0 !important;
}