.taschenrechner {
  max-width: 400px;

  button {
    float: right;

    // in der Zeile danach das floating wieder wegnehmen
    + .row {
      clear: both;
    }
  }
}

#jarvis {
  &::before {
    content: "Jarvis:\a";
    font-weight: bold;
    white-space: pre;
  }

  border: 1px solid black;
  border-radius: 1rem;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  clear: both;
}
