.taschenrechner {
  max-width: 400px;

  .label {
    width: 200px;
    text-align: right;
    font-weight: bold;
    display: inline-block;
    padding-right: 10px;

    &::after {
      content: ":";
    }
  }

  .row {
    padding: 10px;
  }

  // alles was an ein Label anschließt, soll sofort gezeigt werden
  .label + * {
    display: inline-block;
  }

  button {
    float: right;

    // in der Zeile danach das floating wieder wegnehmen
    + .row {
      clear: both;
    }
  }
}

#jarvis {
  &::before {
    content: "Jarvis:\a";
    font-weight: bold;
    white-space: pre;
  }

  border: 1px solid black;
  border-radius: 1rem;
  background-color: #eee;
  padding: 10px;
  margin: 10px;
  clear: both;
}
