#initPopup {
  position: absolute;
  background: #cef;
  max-width: 400px;
  z-index: 100;
  transition: left 0.5s, top 0.5s;
}

.btn.disabled {
  background: #eee;
  color: #aaa;
  border-color: #aaa;
  pointer-events: none;
}

.btn:hover {
  background: #ffd;
}

.highlight {
  background: #ff4;
}